.Container-Intro {
  background-color: rgb(255, 250, 250);
  background-image: url(../assets/intro.png);
  height: 400px;
  width: 1250px;
  padding: 50px 50px;
}
.Text-intro {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color: #474955;
}
.Text-int {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  color: #474955;
  padding: 0px 200px 0px 200px;
}
