.Container-Intro {
  background-color: rgb(255, 250, 250);
  background-image: url(../assets/intro.png);
  height: 400px;
  width: 1250px;
  padding: 50px 50px;
}
.Text-intro {
  text-align: center;
  font-size: 45px;
  font-weight: 570;
}
.Text-int {
  text-align: center;
  font-size: 16px;
  font-weight: 100px;
}
.cont {
  text-align: center;
  font-size: 16px;
  font-weight: 100px;
}
