.mobile-name {
  padding: 150px 0px 50px 80px;
  width: 0 auto;
  display: grid;
  grid-template-columns: 600px 700px;
  grid-template-rows: 1fr;
  background-color: rgb(243, 239, 239);
  padding-bottom: 100px;
}

.content {
  padding: 10px 0 0 35px;
}

.title {
  font-size: 56px;
  font-weight: 570;
  color: #474955;
  padding: 60px 10px 0px 10px;
}

.sub-title {
  font-size: 25px;
  font-weight: lighter;
  color: #474955;
}

.Download {
  background-color: #f04b32;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: 800;
  cursor: pointer;
}
.Download:hover {
  background-color: rgb(240, 40, 14);
}
.background {
  background-image: url(../assets/app.png);
  height: 510px;
  width: 500px;
  padding: 50px 50px;
}

.img-1 {
  position: absolute;
  left: 700px;
  top: 155px;
}
.img-2 {
  position: absolute;
  left: 1000px;
  top: 250px;
}
.img-3 {
  position: absolute;
  left: 750px;
  top: 400px;
}
.img-4 {
  position: absolute;
  left: 1020px;
  top: 550px;
}
