.cont-bukti {
  width: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(255, 255, 255);
  padding: 150px 90px 50px 130px;
}
.img-bkt {
  height: 370px;
  width: 530px;
}
.text-bukti {
  padding: 10px 0 0 35px;
}
.bukti-bold {
  font-size: 55px;
  font-weight: 300px;
  color: #474955;
}
.text-bkt {
  font-size: 20px;
  font-weight: lighter;
  color: #474955;
}
